<div>
<label for="new-time">時刻: </label>
<input id="new-time" #time />
<label for="new-action">行動: </label>
<input id="new-action" #action />
<label for="new-note">内容: </label>
<input id="new-note" #note />
<!-- (click) 入力値をadd()に渡したあと、入力をクリアする -->
<button type="button" class="add-button" (click)="
      add(action.value, note.value, time.value);
      action.value='';
      note.value='';
      time.value='';
      ">
  ToDo追加
</button>
</div>

<h2>利用者リスト</h2>
<ul class="routine">
  <li *ngFor="let todo of routine">
    <a routerLink="/detail/{{todo.id}}">
      <span class="badge">{{todo.id}}</span> {{todo.action}}
    </a>
    <button type="button" class="delete" title="delete todo" (click)="delete(todo)">x</button>
  </li>
</ul>