<div *ngIf="routine">
  <h2>{{routine.action | uppercase}}</h2>
  <div>
    <label id="routine-userId">利用者名: </label>{{routine.userId}}
  </div>
  <div>
    <label for="routine-time">時間: </label>
    <input id="routine-time" [(ngModel)]="routine.time" placeholder="Routine time">
  </div>
  <div>
    <label for="routine-note">内容: </label>
    <input id="routine-note" [(ngModel)]="routine.note" placeholder="Routine note">
  </div>
</div>
<button type="button" (click)="goBack()">戻る</button>
<button type="button" (click)="save()">更新</button>