<div *ngIf="routine">
  <h2>{{routine.action | uppercase}} 様 詳細情報</h2>
  <div>
    <label id="routine-id">id: </label>{{routine.id}}
  </div>
  <div>
    <label for="routine-action">利用者名: </label>
    <input id="routine-action" [(ngModel)]="routine.action" placeholder="Routine action">
  </div>
  <div>
    <label for="routine-note">介護度: </label>
    <input id="routine-note" [(ngModel)]="routine.note" placeholder="Routine note">
  </div>
</div>
<button type="button" (click)="goBack()">戻る</button>
<button type="button" (click)="save()">更新</button>